@model List<ResumeMvc.ViewModels.ProfessionalExperienceViewModel>

<div class="section" id="experience">
    <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                            <p>@item.StartDate - @item.EndDate</p>
                            <div class="h5">@item.CompanyName</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">@item.Title</div>
                            @foreach (var task in item.Tasks)
                            {
                                <p>@task.Title</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>