@model List<ResumeMvc.ViewModels.LinkViewModel>

<div class="section">
    <div class="container">
        <div class="button-container">
            @foreach (var item in Model)
            {
                switch (item.Title)
                {
                    case "LinkedIn":
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="@item.Url" rel="tooltip" title="Follow me on @item.Title">
                            <i class="fa fa-facebook"></i>
                        </a> 
                        break;
                    case "GitHub":
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="@item.Url" rel="tooltip" title="Follow me on @item.Title">
                            <i class="fa fa-twitter"></i>
                        </a> 
                        break;
                    default:
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="@item.Url" rel="tooltip" title="Follow me on @item.Title">
                            <i class="fa fa-twitter"></i>
                        </a>
                        break;
                }
            }
            
        </div>
    </div>
</div>